In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite",echo=True)
this_conn = engine.connect()

2021-07-22 18:00:32,195 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-07-22 18:00:32,197 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:00:32,199 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-07-22 18:00:32,200 INFO sqlalchemy.engine.base.Engine ()

In [15]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

2021-07-22 19:10:30,262 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-22 19:10:30,267 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,279 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("measurement")
2021-07-22 19:10:30,281 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,285 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 19:10:30,287 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-07-22 19:10:30,292 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("measurement")
2021-07-22 19:10:30,295 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,300 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("measurement")
2021-07-22 19:10:30,301 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,303 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 19:10:30,304 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-07-22 19:10:30,308 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("measurement")
2021-07-22 19:10:30,309 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,311 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("measurement")
2021-07-22 19:10:30,313 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,315 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("measurement")
2021-07-22 19:10:30,318 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,319 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("measurement")
2021-07-22 19:10:30,322 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,324 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 19:10:30,325 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-07-22 19:10:30,331 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("station")
2021-07-22 19:10:30,332 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,336 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 19:10:30,337 INFO sqlalchemy.engine.base.Engine ('station',)
2021-07-22 19:10:30,339 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("station")
2021-07-22 19:10:30,340 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,342 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("station")
2021-07-22 19:10:30,343 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,345 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 19:10:30,347 INFO sqlalchemy.engine.base.Engine ('station',)
2021-07-22 19:10:30,349 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("station")
2021-07-22 19:10:30,350 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,353 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("station")
2021-07-22 19:10:30,355 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,359 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("station")
2021-07-22 19:10:30,361 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,364 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("station")
2021-07-22 19:10:30,366 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 19:10:30,368 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 19:10:30,371 INFO sqlalchemy.engine.base.Engine ('station',)

In [16]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
### Create the inspector and connect it to the engine
inspector = inspect(engine)

In [8]:
# Save references to each table
### Collect the names of tables within the database
inspector.get_table_names()

2021-07-22 18:00:38,459 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-22 18:00:38,462 INFO sqlalchemy.engine.base.Engine ()

['measurement', 'station']

In [9]:
# get columns for measurement table
meas_cols = inspector.get_columns('measurement')
for c in meas_cols:
    print(c['name'], c['type'])

2021-07-22 18:00:41,031 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("measurement")
2021-07-22 18:00:41,032 INFO sqlalchemy.engine.base.Engine ()
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [10]:
# get columns for station table
stat_cols = inspector.get_columns('station')
for c in stat_cols:
    print(c['name'], c['type'])

2021-07-22 18:00:45,233 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("station")
2021-07-22 18:00:45,236 INFO sqlalchemy.engine.base.Engine ()
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [11]:
# not sure I need these, but doing it because it was in very first activity Query All Records in the Database
measurement_data = engine.execute("SELECT * FROM measurement")
measurement_df = pd.read_sql("SELECT * FROM measurement", this_conn)

measurement_df.head()

2021-07-22 18:01:00,209 INFO sqlalchemy.engine.base.Engine SELECT * FROM measurement
2021-07-22 18:01:00,210 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:01:00,214 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM measurement")
2021-07-22 18:01:00,215 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:01:00,218 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM measurement")
2021-07-22 18:01:00,219 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:01:00,222 INFO sqlalchemy.engine.base.Engine SELECT * FROM measurement
2021-07-22 18:01:00,223 INFO sqlalchemy.engine.base.Engine ()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [12]:
# not sure I need these, but doing it because it was in very first activity Query All Records in the Database
station_data = engine.execute("SELECT * FROM station")
station_df = pd.read_sql("SELECT * FROM station", this_conn)

station_df

2021-07-22 18:01:12,773 INFO sqlalchemy.engine.base.Engine SELECT * FROM station
2021-07-22 18:01:12,775 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:01:12,778 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM station")
2021-07-22 18:01:12,779 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:01:12,781 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM station")
2021-07-22 18:01:12,782 INFO sqlalchemy.engine.base.Engine ()
2021-07-22 18:01:12,783 INFO sqlalchemy.engine.base.Engine SELECT * FROM station
2021-07-22 18:01:12,785 INFO sqlalchemy.engine.base.Engine ()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,6,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,7,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,8,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,9,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [17]:
### Assign classes to variables 
Measurement = Base.classes.measurement
Station = Base.classes.station

In [18]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [19]:
### This is the first date as a check to make sure things were working while I searched for last date
# Find the most recent date in the data set.
earliest_date = session.query(Measurement.date).order_by(Measurement.date).first()
print(earliest_date)

2021-07-22 19:13:31,395 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-07-22 19:13:31,400 INFO sqlalchemy.engine.base.Engine SELECT measurement.date AS measurement_date
FROM measurement ORDER BY measurement.date
 LIMIT ? OFFSET ?
2021-07-22 19:13:31,403 INFO sqlalchemy.engine.base.Engine (1, 0)
('2010-01-01',)

In [20]:
# find most recent date in the database
last_date = session.query(func.max(Measurement.date)).first()
print(last_date)

2021-07-22 19:13:40,206 INFO sqlalchemy.engine.base.Engine SELECT max(measurement.date) AS max_1
FROM measurement
 LIMIT ? OFFSET ?
2021-07-22 19:13:40,209 INFO sqlalchemy.engine.base.Engine (1, 0)
('2017-08-23',)

## Design a query to retrieve the last 12 months of precipitation data and plot the results.

In [23]:
# Starting from the most recent data point in the database. 
# The date that was pulled was a tuple & I saw online to use a marker to pull just the date 
# end_date = dt.date(last_date[0])  # The date is 2017-08-23; ***the code DID WORK***
# print(end_date)
end_hand = dt.date(2017, 8, 23)
# Calculate the date one year from the last date in data set.
# start_date = end_date - dt.timedelta(days=365)  # THIS date should be 2016-08-24; hadn't gotten to work yet
start_hand = dt.date(2016, 8, 24) 
print(f'start date is {start_hand} & end date is {end_hand}')

start date is 2016-08-24 & end date is 2017-08-23

# Starting from the most recent data point in the database. 
# The date that was pulled was a tuple & I saw online to use a marker to pull just the date 
end_date = dt.date(last_date[0])  # The date is 2017-08-23; ***the code DID WORK***
# print(end_date)
# end_hand = dt.date(2017, 8, 23)
# Calculate the date one year from the last date in data set.
start_date = end_date - dt.timedelta(days=365)  # THIS date should be 2016-08-24; hadn't gotten to work yet
# start_hand = dt.date(2016, 8, 24) 
print(f'start date is {start_date} & end date is {end_date}')

sel = [Dow.stock, 
       func.avg(Dow.open_price), 
       func.avg(Dow.high_price), 
       func.avg(Dow.low_price), 
       func.avg(Dow.close_price)]
may_averages = session.query(*sel).\
    filter(func.strftime("%m", Dow.date) == "05").\
    group_by(Dow.stock).\
    order_by(Dow.stock).all()
may_averages

In [112]:
# INSTRUCTIONS: Perform a query to retrieve the data and precipitation scores
# So what you are actually asking for is a sum across all of the stations? 
# As opposed to plotting each station separately?

## currently has HARD-CODED date
#precip_output = session.query(Measurement.date, Measurement.station, Measurement.prcp).\

precip_output = session.query(Measurement.date, func.sum(Measurement.prcp)).\
    filter(Measurement.date>=start_hand)#.\
    # group_by(Measurement.date) # returns only the first station's measurements -- WHY?!?!

In [113]:
# Save the query results as a Pandas DataFrame and set the index to the date column
precipitation_df = pd.DataFrame(precip_output)
precipitation_df

2021-07-22 21:09:02,810 INFO sqlalchemy.engine.base.Engine SELECT measurement.date AS measurement_date, sum(measurement.prcp) AS sum_1
FROM measurement
WHERE measurement.date >= ? GROUP BY measurement.date
2021-07-22 21:09:02,812 INFO sqlalchemy.engine.base.Engine ('2016-08-24',)

ValueError: 1 columns passed, passed data had 2 columns

In [87]:
# Sort the dataframe by date
precipitation_df = precipitation_df.sort_values(precipitation_df['date'])
# precipitation_df

KeyError: 0      2016-08-24
1      2016-08-25
2      2016-08-26
3      2016-08-27
4      2016-08-28
          ...
360    2017-08-19
361    2017-08-20
362    2017-08-21
363    2017-08-22
364    2017-08-23
Name: date, Length: 365, dtype: object

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
precip_summary_df = precipitation_df.describe()

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()