# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [4]:
## "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'], format='%Y-%m-%d')

pandas.core.series.Series

In [55]:
# Set the date column as the DataFrame index
date_df=df
date_df = date_df.sort_values(by='date') #.set_index('date')
date_df.head()

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
9007   USC00518838 2010-01-01  0.21    72
9518   USC00519523 2010-01-01  0.15    75
12187  USC00519281 2010-01-01  0.15    70
14959  USC00511918 2010-01-01  0.05    66

In [23]:
# Drop the date column
date_drop_df = date_df.drop(date_df['date'])

KeyError: 'date'

### Compare June and December data across all years

In [68]:
from scipy import stats

In [79]:
# contains_one_df['year'] = pd.DatetimeIndex(contains_one_df['release_date']).year
# Filter data for desired months
month_df = date_df
month_df['month'] = pd.DatetimeIndex(month_df['date']).month

june_df = month_df.loc[month_df['month'] == 6]

dec_df = month_df.loc[month_df['month'] == 12]

In [62]:
# Identify the average temperature for June

june_avg = june_df['tobs'].mean()
june_avg

74.94411764705882

In [63]:
# Identify the average temperature for December
dec_avg = dec_df['tobs'].mean()
dec_avg

71.04152933421226

In [76]:
# Create collections of temperature data
# for some reason it looks like it's saving index as well as the temp

june_list = []
for row in june_df:
    june_list.append(june_df['tobs'])
        
dec_list = []
for row in dec_df:
    dec_list.append(dec_df['tobs'])

[15281    70
 305      76
 3055     73
 12520    72
 17257    71
          ..
 19327    65
 7439     72
 14737    67
 2493     66
 5220     71
 Name: tobs, Length: 1517, dtype: int64,
 15281    70
 305      76
 3055     73
 12520    72
 17257    71
          ..
 19327    65
 7439     72
 14737    67
 2493     66
 5220     71
 Name: tobs, Length: 1517, dtype: int64,
 15281    70
 305      76
 3055     73
 12520    72
 17257    71
          ..
 19327    65
 7439     72
 14737    67
 2493     66
 5220     71
 Name: tobs, Length: 1517, dtype: int64,
 15281    70
 305      76
 3055     73
 12520    72
 17257    71
          ..
 19327    65
 7439     72
 14737    67
 2493     66
 5220     71
 Name: tobs, Length: 1517, dtype: int64,
 15281    70
 305      76
 3055     73
 12520    72
 17257    71
          ..
 19327    65
 7439     72
 14737    67
 2493     66
 5220     71
 Name: tobs, Length: 1517, dtype: int64]

In [70]:
# Run paired t-test
# guessing error has something to do with lists looking like they are 2 columns instead of 1
stats.ttest_ind(june_list, dec_list, equal_var=False)

ValueError: operands could not be broadcast together with shapes (1700,) (1517,)

### Analysis

In [71]:
### This should be an independent samples t-test because the values from june and december are independent of each other.